.minesweeper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  transform: scale(1);
}

.minesweeper__window {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.minesweeper__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background: url('./assets/borders/frame.svg');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10.2px;
}

.minesweeper__panel {
  display: flex;
  background: url('./assets/borders/frame-top.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  min-height: 41.6px;
  width: 100%;
  margin-bottom: -1px;
  position: relative;
}

.minesweeper__panel-items {
  max-width: -webkit-fill-available;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 4px 18px;
  height: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.minesweeper__field-wrapper {
  display: flex;
}

.minesweeper__board {
  display: flex;
  flex-direction: column;
}

.minesweeper__field-row {
  display: flex;
  flex-direction: row;
}

.minesweeper__field-cell {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-color: gray;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}